html {
    background-color: rgb(231, 113, 255);
    
}

@media (max-width: 425px) {
    body {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1fr, 1fr);
        
    }

    /* HEADER */
    /* ---------------------------------------------------------- */
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        order: 2;

    }

    header div {
        order: 1;
        text-align: center;

    }

    header div img {
        width: 30vw;
        border-radius: 10px;
    }

    /* NAV */
    /* ----------------------------------------------------------- */
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vw;
    }

    nav a {
        text-decoration: none;
        color: white;
        background-color: rgb(75, 2, 63);
        border-radius: 15px;
        padding: 5vw 0vw 5vw;
        text-align: center;
        margin: 0 10vw 0;
    }

    /* MAIN */
    /* -------------------------------------------------------------- */
    main {
        display: grid;
        grid-template-rows: repeat(1fr, 1);
        grid-template-columns: repeat(1fr, 1);
    }

    main section h2 {
        color: white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    main section+section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: dotted 1px white;
        gap: 1vw;
    }

    main section+section div img {
        width: 55vw;
        margin: 1vw 0 0;
    }

    main section+section h3 {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    main section+section h4 {
        color: black;
        background-color: rgb(255, 94, 0);

    }

    main section+section a {
        text-decoration: none;
        color: white;
        background-color: rgb(75, 2, 63);
        border-radius: 15px;
        text-align: center;
        padding: 2vw 3vw 2vw;
        margin: 0 0 1vw;
    }

    main section+section p {
        display: none;
    }

    /* FOOTER */
    /* --------------------------------------------------------- */
    footer {
        color: white;
        text-align: center;
    }
}

/* TABLET */
/* --------------------------------------------------- */
@media (min-width: 426px) and (max-width: 768px) {
    body {
        display: grid;
        grid-template-rows: repeat(1fr, 1);
        grid-template-columns: repeat(1fr, 1);
        border: solid 1px yellow;
    }

    /* HEADER */
    /* ---------------------------------------------------------- */
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 9vw;
        order: 2;
        margin: 0 0 0 2vw;

    }

    header div {
        order: 1;
        text-align: center;

    }

    header div img {
        width: 30vw;
        border-radius: 10px;
    }

    /* NAV */
    /* ----------------------------------------------------------- */
    nav {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin: 2vw 0 0;
        gap: 3vw;
    }

    nav a {
        text-decoration: none;
        color: white;
        background-color: rgb(75, 2, 63);
        border-radius: 15px;
        font-size: 5vw;
        padding: 5vw 0vw 5vw;
        text-align: center;
        margin: 0 0vw 0;
    }

    /* MAIN */
    /* -------------------------------------------------------------- */
    main {
        display: grid;
        grid-template-rows: repeat(1fr, 1);
        grid-template-columns: repeat(1fr, 1);
    }

    main section h2 {
        color: white;
        font-size: 6vw;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    main section+section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: dotted 1px white;
        gap: 1vw;
    }

    main section+section div img {
        width: 55vw;
        margin: 1vw 0 0;
    }

    main section+section h3 {
        color: white;
        font-size: 3vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    main section+section h4 {
        color: black;
        background-color: yellow;
        font-size: 3vw;

    }

    main section+section a {
        text-decoration: none;
        color: white;
        font-size: 3vw;
        background-color: rgb(75, 2, 63);
        border-radius: 15px;
        text-align: center;
        padding: 2vw 3vw 2vw;
        margin: 0 0 1vw;
    }

    main section+section p {
        display: none;
    }

    /* FOOTER */
    /* --------------------------------------------------------- */
    footer {
        color: white;
        text-align: center;
        font-size: 3vw;
    }
}

/* LAPTOP */
/* --------------------------------------------------- */
@media (min-width: 768px) and (max-width: 2550px){
    body {
        display: grid;
        grid-template-areas: "body main"
                            "header main"
                            "nav main"
                            "footer main";
        grid-area: body;
        border: solid 1px yellow;
    }

    /* HEADER */
    /* ---------------------------------------------------------- */
    header {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        grid-area: header;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 3vw 1vw 0;
    }

    header h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 3vw;
        margin: 0 0 0 2vw;

    }

    header div {
        order: 1;
        text-align: center;

    }

    header div img {
        width: 10vw;
        border-radius: 10px;
    }

    /* NAV */
    /* ----------------------------------------------------------- */
    nav {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        margin: 10vw 0 0;
        gap: 3vw;
        grid-area: nav;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    nav a {
        text-decoration: none;
        color: white;
        background-color: rgb(75, 2, 63);
        border-radius: 15px;
        font-size: 2vw;
        padding: 2vw 0vw 2vw;
        text-align: center;
        margin: 0 3vw 0;
    }
    nav a+a+a+a+a{
        grid-row-start: 10;
        grid-row-end: 11;
    }

    /* MAIN */
    /* -------------------------------------------------------------- */
    main {
        display: grid;
        grid-template-rows:  repeat(1, 1fr);
        grid-template-columns:  repeat(1, 1fr);
        grid-area: main;
    }
    main #section1{
        grid-column-start: 1;
        grid-column-end: 5;
    }

    main section h2 {
        color: white;
        font-size: 3vw;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /* grid-area: section; */
    }

    main section+section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: dotted 1px white;
        gap: 1vw;
        /* grid-area: section1; */
    }
    main section+section{
        grid-row-start: 2;
        grid-row-end: 3;
    }

    main section+section+section{
        grid-row-start: 3;
        grid-row-end: 4;
    }

    main section+section+section+section{
        grid-row-start: 4;
        grid-row-end: 5;
    }
    main section+section+section+section+section{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    main section+section+section+section+section+section{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main section+section div img {
        width: 10vw;
        margin: 1vw 0 0;
    }

    main section+section h3 {
        color: white;
        font-size: 1.5vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    main section+section h4 {
        color: black;
        background-color: yellow;
        font-size: 1.5vw;

    }

    main section+section a {
        text-decoration: none;
        color: white;
        font-size: 1.5vw;
        background-color: rgb(75, 2, 63);
        border-radius: 15px;
        text-align: center;
        padding: 2vw 3vw 2vw;
        margin: 0 0 1vw;
    }

    main section+section p {
        display: none;
    }

    /* FOOTER */
    /* --------------------------------------------------------- */
    footer {
        color: white;
        text-align: center;
        font-size: 3vw;
        grid-area: footer;
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}